.numbers {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.numbers div {
  width: 40px;
  height: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers .active {
  background-color: #7950f2;
  color: white;
}